.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 120px);
  padding: 0 60px;
  height: 60px;
  max-width: 1170px;
  &-container {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    width: 100%;
  }
  &-logo {
    width: 104px;
    height: 26px;
  }
  &-btns {
    display: flex;
    column-gap: 10px;
  }
}

@media (max-width: 768px) {
  .header {
    width: calc(100% - 64px);
    padding: 0 32px;
  }
}

@media (max-width: 412px) {
  .header {
    width: calc(100% - 32px);
    padding: 0 16px;
  }
}
